.article {
  background-color: #fff;
  
  .title {
    font-size: 40px;
  }
  
  .body {
    margin-top: 20px;

    ul {
      margin: 0px;
      
      li:first-child {
        color: red;
      }
    }

    .btn {
      background-color: blue;

      > .icon {
        font-size: 20px;
      }

      ~ .icon2 {
        font-size: 20px;
      }

      + .icon2 {
        font-size: 20px;
      }
    }

    // di gabungin sama nama parentnya
    &__header {
      color: red;
    }

    &__footer {
      color: blue;
    }
  }
  
  .box {
    background-color: blue;
  }
}
